<html>
  <head>
    <title>Heatmiser WiFi</title>
  </head>
  <body>
    <h1>Heatmiser WiFi</h1>
    <table>
      <tr><td>Host</td><td>PIN</td><td>Feed</td><td>API Key</td></tr>
      <% for(var key in user.devices){ %>
        <tr><td><%= user.devices[key].host %></td><td><%= user.devices[key].pin %></td><td><%= user.devices[key].feed %></td><td><%= user.devices[key].api_key %></td></tr>
      <% } %>
    </table>
    <form action="/devices" method="POST">
      <label for="host">Hostname / IP Address</label>
      <input type="text" name="host" id="host" />
      <label for="pin">PIN Number</label>
      <input type="text" name="pin" id="pin" />
      <label for="feed">Cosm Feed ID</label>
      <input type="text" name="feed" id="feed" />
      <label for="api_key">Cosm API Key</label>
      <input type="text" name="api_key" id="api_key" />
      <input type="submit" value="Add new thermostat" />
    </form>
  </body>
</html>
